*{
    margin: 0;
    padding: 0;
}

/**Etiquetas**/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p,
    blockquote, pre, a, abbr, acronym, address, big,
    cite, code, del, dfn, em, font, img,
    ins, kbd, q, s, samp, small, strike,
    strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    center, u, b, i {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: normal;
        font-style: normal;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline
    }

    input, textarea {
        margin: 0;
        padding: 0
    }

    hr {
        margin: 0;
        padding: 0;
        border: 0;
        color: #000;
        background-color: #000;
        height: 1px
    }

    ol, ul {
        list-style: none
    }

    table {
        border-collapse: collapse;
        border-spacing: 0
    }
    
    body{
        overflow: hidden;
    }

    a{
        text-decoration: none;
    }    

/**Clases**/


    /*Header*/
        .disabled{
            display: none;
        }
        .hdr{
            font-family: 'Ubuntu Condensed', sans-serif;
            background: rgba(0, 167, 142, 0.5); 
            padding: 0;
            width: 100%;
            height: 5em;
        }
        
        .img{
            position: absolute;
            top: 0;
            margin-top: 12px;
            margin-left: 80px;
            width: 180px;
            height: auto;
        }
    /*Sidebar*/
        .sidebar {
            position: absolute;
            width: 15em;
            height: 100%;
            color: #fff;
            background: #444;
            font-family: 'Ubuntu Condensed', sans-serif;
        }

        .ocultar{
            transform: translateX(-15em);
        }
        /*Acordeon*/
            .accordion {
                width: 100%;
                max-width: 360px;
                border-top: 2px solid #E5E5E7;
                border-bottom: 2px solid #E5E5E7;
                margin: 0px auto 20px;
                background: #333;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }

            .accordion .link {
                cursor: pointer;
                display: block;
                padding: 15px 0 15px 42px;
                color: #e5e5e7;
                font-size: 14px;
                font-weight: 700;
                border-bottom: 1px solid #444;
                position: relative;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

            .accordion .link:hover{
                border-left: 5px solid #26A69D;
                background: #111;
            }

            .accordion li:last-child .link {
                border-bottom: 0;
            }

            .accordion li i {
                position: absolute;
                top: 16px;
                left: 12px;
                font-size: 18px;
                color: #e5e5e7;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

            .accordion li i.fa-chevron-circle-left {
                right: 12px;
                left: auto;
                font-size: 16px;
            }

            .accordion li.open .link {
                color: #26a69d;
            }

            .accordion li.open i {
                color: #26a69d;
            }
            .accordion li.open i.fa-chevron-circle-left {
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }

            /*Submenu*/
                .submenu {
                    display: none;
                    background: #222;
                    font-size: 14px;
                }

                .submenu li {
                    border-bottom: 1px solid #444;
                }

                .submenu a {
                    display: block;
                    text-decoration: none;
                    color: #E5E5E7;
                    padding: 5px;
                    padding-left: 42px;
                    -webkit-transition: all 0.25s ease;
                    -o-transition: all 0.25s ease;
                    transition: all 0.25s ease;
                }

                .submenu li a {
                    text-decoration: none;
                }

                .submenu a:hover, .submenu a:focus  {
                    border-left: 5px solid #eee;
                    background: #26A69D;
                    color: #111;
                    font-weight: bold;
                }

    /*Contenido*/
        .contenido {
            width: 100%;
            height: 100%;
            left: 15em;
            position: absolute;
            background: #E5E5E7;
            padding: 30px;
            transition: all 0.5s;
            box-sizing: border-box;
        }
    /*Listado*/
        .btnAd{
            font-family: 'Ubuntu Condensed', sans-serif;
            background: #aaa;
            color: #111;            
            font-size: 15px;
            width: 110px;
            height: 35px;
            margin-right: 16px;
            border: none;
            border-radius: 3px;
            transition: all .25s ease-in-out;
        }

        .btnAd:hover {
            background: #333;
            color: #e5e5e7;
        }

        .contMd{
            height: 50px;
            font-family: 'Ubuntu Condensed', sans-serif;
            background: #444;
            color: #E5E5E7;
            font-size: bold;
            letter-spacing: 2px;
            padding: 3px;
            margin-top: 5px; 
            border-radius: 5px;
            outline: none;
            box-shadow: 10px 5px 10px 1px #aaa;
            transition: all .25s ease-in;
        }

        .contMd:hover {
            background: #26A69D;
            border-left: 10px solid #333;
        }

        .contMd .btnAcc{
            background: transparent;
            outline: none;
            margin-top:6px; 
            margin-right:6px; 
            float: right;
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: bold;
            padding: 6px 9px;
            border: none;
            border-radius: 4px;
            transition: all .3s ease-out;
        }

        .contMd .btnAcc:hover{
            color: #111;
        }

        .ttlMd{
            margin-top:12px; 
            margin-left:30px;
            font-size: 15px;
        }

        input[type = "radio"] {
            position: absolute;
            left: 0;
            margin-left: 2em;
            margin-top: 5px;
        }

        .bttnMd {
            width: 80px;
            height: 30px;
            outline: none;
            border: none;
            border-radius: 2px;
            color: #e5e5e7;
        }
        
        .icl{ 
            float: right;
        }
        
        .iclsp {
            display: inline-block;
        }

        .iclsp a{
            text-decoration: none;
            color: #fff;
            font-size: 30px;
            margin-right: 10px;
            transition: all .25s ease-in;
        }

        .icl a:hover{
            color: #111;
        }

        .chbx {
            width: 50px;
            height: 25px;
            background: #333;
            position: relative;
            float: right;
            margin-top: 8px;
            border-radius: 50px;
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
        }
        
        .chbx:after{
            content: url('../img/xmark.png');
            position: absolute;
            right: 0;
            margin-right: 7px;
            top: 0;
            margin-top: 4px;
            z-index: 0;
            font: 12px/26px Arial, sans-serif;
            font-weight: bold;
            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
        }

        .chbx:before {
            content: url('../img/chmark.png');
            color: #27ae60;
            position: absolute;
            left: 0;
            margin-left: 7px;
            top: 0;
            margin-top: 4px;
            z-index: 0;
            font: 12px/26px Arial, sans-serif;
            font-weight: bold;
        }
            
        .chbx label{
            display: block;
            width: 23px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            top: 0;
            margin-top: 2.5px;
            margin-left: 3px;
            left: 0;
            z-index: 1;
            background: #fcfff4;
            background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            border-radius: 50px;
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        }

        .chbx input[type=checkbox] {
            visibility: hidden;
        }

        .chbx input[type=checkbox]:checked + label {
            left: 21px;
        }

/**Identificadores**/
    /*Header*/
        #hd{
            background: rgba(38, 166, 154, 0.7);
            padding: 1em;
            border: 0;
        }
        
        
        #ico{
            position: absolute;
            top: 0;
            margin-top: 10px;
            margin-left: 30px;
            font-size: 50px;
            color: #111;
            cursor: pointer;
            transition: all 0.3s;
        }
        
        #ico:hover{
            color: #fff;
        }

        #nom{
            margin-top: 25px; 
            text-align: right;
            top: 0;
            right: 7em;
            position: absolute;
        }

        #usnam{
            position: absolute;
            top: 0;
            margin-top: 18px;
            right: 0;
            margin-right: 150px;
            color: #111;
            font-size: 20px;

        }

        #bttn{
            position: absolute;
            top: 0;
            margin-top: 1.2%;
            margin-right: 1%;
            right: 0;
            height: 35px;
            border-radius: 2px;
            background: #444;
            color: #eee;
            padding: 0;
            padding-top: 6px;;
            transition: all 0.9s;
        }

        #bttn:hover{
            background: rgba(229, 229, 231, 0.9);
            color: #111;
        }
    /*Modal*/
        #myModal{
            font-family: 'Ubuntu Condensed', sans-serif;
        }

        #contDb, #contdf, #contdc, #contctt, 
        #contdpto, #contcgo, #contPn{
            margin-top: 20px;
            padding: 10px;
        }

        #btnSv{
            background: #26a69d;
        }

        #btnCs{
            background: #ec1c24;
        }
        #btnAn{
            background: #ec1c24;
        }
        
        /*Departamento, Cargo*/

        #dpto input, #dpto select, #cgo input, #cgo select {
            display: block;
            padding: 3px 5px;
            margin-bottom: 10px;
            width: 100%;
            border: 1px solid #ddd;
            text-indent: 15px;
            transition: border-width .2s ease-in-out;
            border-radius: 2px;
            color: #ccc;
        }
        
        #dpto input:focus, #dpto select:focus, #cgo input:focus, #cgo select:focus{
            outline: none;
            color: #444;
            border-color: #26a69d;
            border-left-width: 35px;
        }

        #dpto #icdp1, #dpto #icdp2, #cgo #iccg1, #cgo #iccg2{
            color: #fff;
            font-size: 1em;
            position: absolute;
            margin-top: -33px;
            margin-left: 10px;
            opacity: 1;
            left: 0;
            transition: all .1s ease-in;
        }
        
        /*#dpto input:focus + span.fa, #dpto select:focus + span.fa{
            opacity: 1;
            left: 26px;
            transition: all .25s ease-out;
        }*/

        #dpto .ic, #cgo .ic{
            background-color: #26a69d;
            position: absolute;
            padding-top: 7px;
            top: 0;
            right: 0;
            height: 33.5px;
            width: 30px;
            margin-top: 22px;
            margin-right: 0;
            text-align: center;
            pointer-events: none;
            color: #333;
            border: none;
        }

        /*Planes*/
            #rPn input{
                display: block;
                padding: 3px 5px;
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #ddd;
                transition: border-width .2s ease-in-out;
                border-radius: 2px;
                color: #ccc;
            }

            #rPn input + i.fa{
                color: #fff;
                font-size: 1em;
                position: absolute;
                margin-top: -32px;
                opacity: 0;
                left: 0;
                transition: all .1s ease-in;
            }
 
            #rPn input:focus{
                outline: none;
                color: #444;
                border-color: #26a69d;
                border-left-width: 35px;
            }
 
            #rPn input:focus + i.fa{
                opacity: 1;
                left: 25px;
                transition: all .25s ease-out;
            }

            #rPn select{
                width: 100%;
                display: block;
                padding: 3px 5px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                border-radius: 2px;
                color: #ccc;
            }

            #rPn select:focus{
                color: #111;
                outline: none;
                border-color: #26a69d;
            }

            #rPn select option{
                background: #fff;
                border: 2px solid #eee;
            }

        /*Datos Basicos, telefono movil y local*/

            #rDb input{
                display: block;
                padding: 3px 5px;
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #ddd;
                transition: border-width .2s ease-in-out;
                border-radius: 2px;
                color: #ccc;
            }

            #rDb input + i.fa{
                color: #fff;
                font-size: 1em;
                position: absolute;
                margin-top: -33px;
                opacity: 0;
                left: 0;
                transition: all .1s ease-in;
            }

            #rDb input:focus{
                outline: none;
                color: #444;
                border-color: #26a69d;
                border-left-width: 35px;
            }

            #rDb input:focus + i.fa{
                opacity: 1;
                left: 26px;
                transition: all .25s ease-out;
            }

            #einp {
                width: 78.7%;
                padding: 3px 5px;
                margin-bottom: 10px;
                border: 1px solid #ddd;
                transition: border-width .2s ease-in-out;
                border-radius: 2px;
                color: #ccc;
            }

            #einp + i.fa, #einp1 + i.fa, #einp2 + i.fa{
                color: #fff;
                font-size: 1em;
                position: absolute;
                margin-top: -35px;
                opacity: 0;
                left: 0;
                transition: all .1s ease-in;
            }

            #einp:focus, #einp1:focus, #einp2:focus{
                outline: none;
                color: #444;
                border-color: #26a69d;
                border-left-width: 35px;
            }

            #einp:focus + i.fa{
                opacity: 1;
                left: 65px;
                transition: all .25s ease-out;
            }

            #einp1, #einp2{
                margin-left: -20px;
                margin-bottom: 10px;
                border: 1px solid #ddd;
                transition: border-width .2s ease-in-out;
                border-radius: 2px;
                color: #ccc;
            }

            #einp1:focus + i.fa {
                opacity: 1;
                left: 7.5px;
                transition: all .25s ease-out;
            }

            #einp2:focus + i.fa {
                opacity: 1;
                left: 8px;
                transition: all .25s ease-out;
            }

            #rif, #tlflcl, #tlfmvl{
                border: 1px solid #ddd;
                border-radius: 2px;
                color: #ccc;
            }

            #rif:focus, #tlflcl:focus, #tlfmvl{
                border-color: #26a69d;
                outline: none;
                color: #111;
            }

            #rif option, #tlflcl option, #tlfmvl option{
                border-color: #26a69d;
                color: #111;
            }

            #tipCon{
                width: 100%;
                padding: 3px 5px;
                margin-bottom: 10px;
                border: 1px solid #ddd;
                transition: border-width .2s ease-in-out;
                border-radius: 2px;
                color: #ccc;
            }

            #tipCon:focus{
                border-color: #26a69d;
                outline: none;
                color: #111;
            }

            #tipCon option{
                border-color: #26a69d;
                padding: 3px 5px;
                margin-bottom: 10px;
                border: 1px solid #ddd;
                transition: border-width .2s ease-in-out;
                color: #111;
            }
        /*Direccion Fiscal y Comercial, correo*/

            #locDf select, #locDc select{
                width: 100%;
                display: block;
                padding: 3px 5px;
                margin-bottom: 15px;
                border: 1px solid #ddd;
                border-radius: 2px;
                color: #ccc;
            }

            #locDf select:focus, #locDc select:focus{
                color: #111;
                outline: none;
                border-color: #26a69d;
            }

            #locDf select option, #locDc select option{
                background: #E5E5E7;
                border: 2px solid #eee;
            }

            #locDfdd input, #locDcdd input, #correo input{
                display: block;
                padding: 3px 5px;
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #ddd;
                transition: border-width .2s ease-in-out;
                border-radius: 2px;
                color: #ccc;
            }

            #locDfdd input + i.fa, #locDcdd input + i.fa, 
            #correo input + i.fa{
                color: #fff;
                font-size: 1em;
                position: absolute;
                margin-top: -33px;
                opacity: 0;
                left: 0;
                transition: all .1s ease-in;
            }

            #locDfdd input:focus, #locDcdd input:focus,
            #correo input:focus{
                outline: none;
                color: #444;
                border-color: #26a69d;
                border-left-width: 35px;
            }

            #locDfdd input:focus + i.fa, #locDcdd input:focus + i.fa,
            #correo input:focus + i.fa{
                opacity: 1;
                left: 26px;
                transition: all .25s ease-out;
            }